* {
    margin: 0;
    font-family: "Inter", sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
/* -------header--------- */
.topsec {
    width: 100%;
    padding: 30px 105px 246px 105px;
    background-color: #3a3a3a;
}

.topar {
    display: flex;
    justify-content: space-between;
}

.iconlinks {
    display: flex;
    align-items: center;
    gap: 15px;
}

.phone-clock {
    display: flex;
    gap: 30px;
}

.clock,
.phone {
    display: flex;
    align-items: center;
    gap: 15px;
}

.fa-solid,
.fa-brands {
    cursor: pointer;
    font-size: 20px;
    color: #3db2ff;
}

.showtime {
    text-decoration: none;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-bar {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.navmenu {
    color: var(--Text-Color, #6e6e6e);
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}

.listbar {
    display: flex;
}

.list {
    cursor: pointer;
    padding: 35px 15px;
}

.list:hover {
    background-color: #3db2ff;
    color: white;
    transition: 0.5s;
}

.btnprimary button {
    padding: 20px 18px;
    color: var(--White, #fff);
    text-align: center;
    background-color: #3db2ff;
    border: none;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}
.positionsec {
    position: relative;
}
.formposition {
    position: absolute;
    bottom: 100px;
    right: 105px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #3db2ff;
}

.inpflex {
    display: flex;
    gap: 30px;
}

.inputstyle input {
    color: white;
    border: none;
    border-bottom: solid 3px white;
    background-color: #81cdff;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 20px;
}
::placeholder {
    color: var(--White, #fff);
}

.formposition button {
    cursor: pointer;
    width: 180px;
    padding: 20px 18px;
    border: none;
    color: var(--Primary, #3db2ff);
    font-family: "Inter", sans-serif;

    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}

.hero {
    margin-top: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.hero h1 {
    color: var(--White, #fff);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 80px;
}

.hero p {
    color: var(--White, #fff);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.feautres {
    width: 50%;
    gap: 30px;
    display: flex;
    padding: 35px 0px 50px 105px;
    align-items: flex-start;
}

.fetbox {
    /* width: 285px; */
    flex-direction: column;
    gap: 30px;
    display: flex;
    margin: 35px;
    /* padding: 35px; */
    /* padding-left: 84px; */
}

.feautresstyle {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.feautresstyle h4 {
    color: var(--Heading-Color, #2d2d2d);
    font-family: "Inter", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 35px;
}

.feautresstyle p {
    color: var(--Text-Color, #6e6e6e);
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.spalce {
    width: 300px;
    background-color: red;
}
.selectstyle {
    border: none;
    border-bottom: solid 3px white;
    background-color: #81cdff;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 27px 95px 20px 20px;
}
.media1300 {
    display: flex;
}
.navpop-up {
    display: none;
}
.navicon,
.navpop-down,
.continent-down {
    display: none;
}

@media screen and (max-width: 1300px) {
    .feautres {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .formposition {
        /* align-items: center; */
        /* width: 718px; */
        /* gap: 50px; */
        /* justify-content: center; */
        bottom: 25%;
        left: 10%;
        right: 10%;
    }
    .inpflex {
        display: flex;
        justify-content: space-evenly;
        /* gap:30px; */
    }
    .inputstyle input {
        padding: 20px 60px;
    }
    .selectstyle {
        padding: 27px 135px 20px 60px;
    }
    .media1300 {
        margin-top: 139px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* .formposition button{
        margin-left: 60px;
    } */
}

@media screen and (max-width: 1040px) {
    .navmenu {
        display: none;
    }
    .btnprimary {
        display: none;
    }
    .header-bar {
        padding: 38px 41px 37px 25px;
    }
    .navicon {
        display: unset;
        padding: 13px 15px;
        background-color: #3db2ff;
        border: solid 1px #3db2ff;
    }
    .navclick {
        color: white;
        font-size: 30px;
    }
    .navpop-down {
        display: none;
    }
    .navpop-up {
        border-radius: 0px 0px 20px 20px;
        right: 146px;
        top: 178px;
        position: absolute;
        display: unset;
        padding: 20px;
        background-color: #3db2ff;
    }
    .listonlick {
        padding: 20px;
    }
    .clicklist {
        color: white;
        padding: 20px;
        font-family: "Inter", sans-serif;
    }
    .clicklist:hover {
        border-radius: 15px;
        transition: 0.5s;
        background-color: white;
        color: var(--Text-Color, #6e6e6e);
        font-family: "Inter", sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
    }
    .inputstyle input {
        padding: 20px 20px;
    }
    .selectstyle {
        padding: 27px 95px 20px 20px;
    }
}

@media screen and (max-width: 800px) {
    .topar {
        display: none;
    }
    .navpop-up {
        top: 157px;
    }
    .inpflex {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .formposition {
        align-items: center;
    }
    .media1300 {
        margin-top: 441px;
        flex-direction: column;
    }
    .fetbox {
        margin-top: 20px;
    }
}

/* ---------------header done ----------- */

/* <!------------- sandros nawili ------------------------->
<!--------------------sandos nawili morcha aq  --------------------> */

/* <!----------- map -------------------------> */

.mapsec {
    width: 100%;
    padding: 50px 105px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgback {
    position: relative;
}

.NorthAmerica {
    top: 14%;
    left: 12%;
    position: absolute;
}
.SouthAmerica {
    position: absolute;
    bottom: 24%;
    left: 22%;
}
.Africa {
    position: absolute;
    top: 38%;
    right: 46%;
}
.Astralia {
    position: absolute;
    right: 10%;
    bottom: 13%;
}
.Asia {
    top: 15%;
    right: 25%;
    position: absolute;
}
.continent-popup {
    display: unset;
    top: 35%;
    left: 4%;
    border-radius: 20px;
    position: absolute;
    background-color: #3db2ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.continent-popupSouthAmerica {
    display: unset;
    top: 0%;
    left: 30%;
    border-radius: 20px;
    position: absolute;
    background-color: #3db2ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.continent-popupAfrica {
    display: unset;
    bottom: 0%;
    left: 55%;
    border-radius: 20px;
    position: absolute;
    background-color: #3db2ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.continent-popupAstralia {
    display: unset;
    bottom: 34%;
    left: 76%;
    border-radius: 20px;
    position: absolute;
    background-color: #3db2ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.continent-popupAsia {
    display: unset;
    bottom: -4%;
    left: 59%;
    border-radius: 20px;
    position: absolute;
    background-color: #3db2ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.cardstyle {
    width: 300px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cardstyle h1 {
    color: var(--Heading-Color, #2d2d2d);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
}

.discription p {
    color: var(--Text-Color, #2d2d2d);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}
.discription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

@media screen and (max-width: 1300px) {
    .mapimg {
        width: 800px;
    }
    .mapsvg {
        width: 70px;
        height: 70px;
    }
    .continent-popupAstralia {
        bottom: 34%;
        left: 56%;
    }
}
@media screen and (max-width: 800px) {
    .mapimg {
        width: 500px;
    }
    .mapsvg {
        width: 40px;
        height: 40px;
    }
}

/* <!----------- map is done -------------------------> */

/* <!---------gugas nawili --------------------> */
/* <!---------gugas nawili morcha --------------------> */

/* <!-- video da fetchis nawili swiperi --> */

.fetchpart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 100px 105px 50px 105px;
}
.title-of-feedbacks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}
.title-of-feedbacks span {
    color: var(--Primary, #3db2ff);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.95px;
    text-transform: uppercase;
}
.title-of-feedbacks h1 {
    color: var(--Heading-Color, #2d2d2d);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
}
.title-of-feedbacks p {
    color: var(--Text-Color, #6e6e6e);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.fetchbox {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.rightbox {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 35px;
}
.userprofile {
    display: flex;
    gap: 30px;
    align-items: center;
}
.userpic {
    width: 85px;
    height: 85px;
    background-color: gray;
}
.userfeedback p {
    color: var(--Text-Color, #6e6e6e);
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.userinfo h1 {
    color: var(--Heading-Color, #2d2d2d);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
}

.userinfo span {
    color: var(--Primary, #3db2ff);
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.95px;
    text-transform: uppercase;
}
.showmore {
    padding: 20px 18px;
    color: var(--White, #fff);
    text-align: center;
    background-color: #3db2ff;
    border: none;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}

.teamskill {
    background-color: #3a3a3a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videoside {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.videodiv {
    padding: 200px 150px;
    background-color: #6e6e6e;
    border: solid 5px white;
}
.skill {
    padding: 100px 105px 100px 30px;
    display: flex;
    flex-direction: column;
    gap: 43px;
    width: 50%;
}
.skillpercent {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.handcl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.handcl span {
    color: var(--Primary, #3db2ff);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.95px;
    text-transform: uppercase;
}
.wbox {
    background-color: white;
    padding: 15px;
    width: 100%;
}
.bbox {
    height: 30px;
    width: 92%;
    background-color: #3db2ff;
}
.bbox2 {
    height: 30px;
    width: 98%;
    background-color: #3db2ff;
}
.skill-text {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.skill-text span {
    color: var(--Primary, #3db2ff);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.95px;
    text-transform: uppercase;
}

.skill-text h1 {
    color: var(--White, #fff);
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
}
.skill-text p {
    color: var(--White, #fff);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

@media screen and (max-width: 800px) {
    .fetchpart {
        display: flex;
        flex-direction: column;
    }
    .fetchbox {
        flex-direction: column;
    }
    .feautres {
        padding: 0px;
    }
    .teamskill {
        flex-direction: column;
    }
    .skill {
        width: 100%;
        padding: 50px 25px;
    }
}
/* <!-- video da fetchis nawili swiperi is done --> */

/* <!-------Keep Connected & Lets Get In Touch With Us --> */

.leavemessage {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.message-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondside {
    width: 50%;
}
.sideone {
    gap: 30px;
    padding: 50px 10px 100px 105px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.leavetxt {
    display: flex;
    gap: 15px;
    flex-direction: column;
    text-align: start;
}
.leavetxt span {
    color: var(--Primary, #3db2ff);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.95px;
    text-transform: uppercase;
}

.leavetxt h1 {
    color: var(--Heading-Color, #2d2d2d);
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
}
.leavetxt p {
    color: var(--Text-Color, #6e6e6e);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.cont-addres {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.infobox {
    display: flex;
    gap: 10px;
}

.graybox {
    width: 100%;
    height: 200px;
    background-color: gray;
}
.infoboxtext h1 {
    color: var(--Heading-Color, #2d2d2d);
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 35px;
}

.infoboxtext p {
    color: var(--Text-Color, #6e6e6e);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
@media screen and (max-width: 800px) {
    .sideone {
        flex-direction: column;
    }
}
/* <!-------Keep Connected & Lets Get In Touch With Us  is done--> */

/* <!---------- foteri  --------------> */
/* <!---------- foteri is done  --------------> */
